.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
  padding: 20px;
}

.App-header {
  background-color: rgb(7, 75, 80);
  height: 130px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.To-do-list-headers {
  display: flex;
  flex-direction: row;
}

.Grocery-list-header {
  flex: 1;
}

.Today-to-dos-header {
  flex: 1;
}
.Long-term-to-dos-header {
  flex: 1;
}

.To-do-list-submit-forms {
  display: flex;
  flex-direction: row;
}

.Grocery-list-form {
  flex: 1;
}

.New-grocery-list-item {
  font-size: large;
  padding: 6px;
  border: solid  rgb(7, 75, 80);
  border-width: 1.5px;
  margin: 20px 10px 20px 0px;
}

.Today-to-dos-form {
  flex: 1;
}

.New-today-to-dos-item {
  font-size: large;
  padding: 6px;
  border: solid rgb(7, 75, 80);
  border-width: 1.5px;
  margin: 20px 10px 20px 0px;
}

.Long-term-to-dos-form {
  flex: 1;
}

.New-long-term-to-dos-item {
  font-size: large;
  padding: 6px;
  border: solid rgb(7, 75, 80);
  border-width: 1.5px;
  margin: 20px 10px 20px 0px;
}

.Submit-form {
  width: 50%;
  margin: auto;
}

.New-to-do-item {
  text-align: center;
  font-size: large;
  padding: 6px;
  border: solid rgb(7, 75, 80);
  border-width: 1.5px;
  margin: 20px 10px 20px 0px;
}

New-to-do-item:placeholder {
  color: rgb(180, 180, 180);
  opacity: 1;
}

.Submit-button {
  font-size: medium;
  margin: 5px 0px 5px 3px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 2px solid  rgb(7, 75, 80);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.Submit-button:hover {
  background-color: rgb(7, 75, 80);
  color: white;
}

.To-do-lists {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 4.5px;
  justify-content: center;
  margin: auto;
  list-style-type: none;
  font-size: 18px;
}

.Grocery-list {
  border: solid rgb(7, 75, 80);
  border-radius: 5px;
  list-style: none;
  padding: 3px;
}

.Grocery-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-size: 18px;
  text-align: left;
  background-color: none;
  border-radius: 8px;
  padding: 3px;
}

.Grocery-list-item:hover {
  background-color: rgb(207, 207, 207);
}

.Grocery-item-name {
  flex-grow: 8;
}

.Today-to-do-list {
  border: solid rgb(7, 75, 80);
  border-radius: 5px;
  list-style: none;
  padding: 3px;
}

.Today-to-do-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  font-size: 18px;
  text-align: left;
  background-color: none;
  border-radius: 8px;
  padding: 3px;
}

.Today-to-do-list-item:hover {
  background-color: rgb(207, 207, 207);
}

.Today-to-do-item-name {
  flex-grow: 8;
}

.Long-term-list{
  border: solid rgb(7, 75, 80);
  border-radius: 5px;
  list-style: none;
  padding: 3px;
}

.Long-term-list-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style-type: none;
  font-size: 18px;
  text-align: left;
  background-color: none;
  border-radius: 8px;
  padding: 3px;
}

.Long-term-list-item:hover {
  background-color: rgb(207, 207, 207);
}

.Long-term-item-name {
  flex-grow: 8;
}

.To-do-check-box {
  margin-right: 10px;
}

.Delete-to-do-item-button {
  margin-left: 20px;
  align-self: center;
  border: 1.3px solid rgb(7, 75, 80);
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.Delete-to-do-item-button:hover {
  background-color: rgb(7, 75, 80);
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
